.main-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 200px;
    max-width: 100%;
    border: 0.3rem solid rgb(109, 107, 107);
    border-radius: 10px;
    padding: 20px;
}
@media only screen and (max-width: 800px) {
    .main-container{
        margin: 0 20px;
    }
    .exp-heading{
        /* font-size: small; */
        line-height: 1 !important;
    }
    .head{
        line-height: 1 !important;
        flex-direction: column-reverse !important;
    }
    .myPic{
        height: 220px !important;
    }
    .exp-li{
        line-height: 1.2; 
        list-style:disc;
        padding-left: 13px;
    }
    h2{
        font-size: 35px !important;
    }
    h1{
        font-size: 20px !important;
    }
    .main-container{
        margin: 10px;
    }
    .head-title{
        line-height:10px
    }
}
.head-role{
    font-size: 30px;
}
.head-name{
    font-weight: 600;
    font-size: 50px;
}
.exp-li{
    line-height: 1.2; 
    list-style:disc;
}
*{
    /* margin-top: 25px;
    font-size: 21px; */
    /* text-align: center; */

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
ul{
    list-style: none;
}
.head{
    display: flex;
    min-width: 95%;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    line-height: 0.5;
    color: rgb(82, 82, 82);
}
hr.rounded {
    border-top: 8px solid #d5d5d5;
    border-radius: 5px;
    min-width: 100%;
}
.skills-btn{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}
.exp-heading{
    line-height: 0.2;
}

.skills-btn span{
    color: white;
    background-color: rgb(94, 94, 94);
    border-radius: 5px;
    padding: 3px 6px;
    /* border: dashed;
    border-width: 4px; */
}
/* .myPic{
    border-radius: 80%;
} */
